<div class="h2">
  {{$ctrl.title}} # {{$ctrl.role.id}}
</div>
<div ng-if="!$ctrl.role">
  <strong>Name:&nbsp;</strong><input type="text" name="groupname" ng-model="$ctrl.groupname">
  <strong>Description:&nbsp;</strong><input type="text" name="groupname" ng-model="$ctrl.groupdescription">
  <button ng-click="$ctrl.onClickAddGroup($ctrl.groupname, $ctrl.groupdescription)">增加权限分组</button>
  <span>{{$ctrl.groupname}}</span>
  :
  <span>{{$ctrl.groupdescription}}</span>
</div>

<button ng-click="$ctrl.onClickSaveChange()"  ng-show="$ctrl.isCodeChanged">保存修改</button>

<div ng-repeat="group in $ctrl.groups">
  <div class="h3">
    #&nbsp;&nbsp;{{group.id}}&nbsp;&nbsp;{{group.name}}
    &nbsp;&nbsp;<span><small>【{{group.description}}】</small></span>
    <button ng-if="!$ctrl.role" ng-click="$ctrl.onClickDelGroup(group.id)">删除分组</button>
  </div>
  <div ng-if="!$ctrl.role">
    <strong>Name:&nbsp;</strong><input type="text" name="group.name" ng-model="$ctrl.authority[group.id]">
    <button ng-click="$ctrl.onClickAddAuthority(group.id, $ctrl.authority[group.id])">增加权限类型</button>
    <span>{{$ctrl.authority[group.id]}}</span>
  </div>
  <p style="padding:10px;"></p>
  <ul>
    <li ng-repeat="authority in $ctrl.authorities | filter:{authority_groupId:group.id}">
      <p>
        <input ng-if="$ctrl.role" id={{authority.name}} type="checkbox"
          ng-checked="$ctrl.isSelected(group.id, authority.code)"
          ng-click="$ctrl.onUpdateSelection($event, group.id, authority.code)">
        &nbsp;&nbsp;<strong>#</strong>{{authority.id}}
        &nbsp;&nbsp;<strong>#</strong>{{authority.subId}}
        &nbsp;&nbsp;<strong>Code:</strong>&nbsp;0x{{authority.code.toString(16)}}
        &nbsp;&nbsp;<strong>Name:</strong>&nbsp;{{authority.name}}
        &nbsp;&nbsp;<span><small>【{{authority.description}}】</small></span>
      </p>
    </li>
  </ul>
</div>
