
<div class="h3">
  {{$ctrl.title}}
</div>

<ul>
  <li ng-repeat="pp in $ctrl.plans">
    <input id={{pp.id}} type="checkbox" ng-click="$ctrl.updateSelection($event, $index)" ng-if="$ctrl.ischeckboxenable">
    &nbsp;&nbsp;<strong>#</strong>{{pp.id}}
    &nbsp;&nbsp;<strong>线路:&nbsp;</strong>{{pp.po}}
    &nbsp;&nbsp;<strong>价种:&nbsp;</strong>{{pp.po_item}}
    &nbsp;&nbsp;<strong>金额:&nbsp;</strong>{{pp.amount | currency}}
    &nbsp;&nbsp;<strong>日期:&nbsp;</strong>{{pp.datetime}}
    &nbsp;&nbsp;<strong>截止:&nbsp;</strong>{{pp.deadline}}
    &nbsp;&nbsp;<strong>账单:&nbsp;</strong>{{pp.bill_number}}
  </li>
</ul>

<div class="h5">
  <span>列表总金额：{{$ctrl.totalamount | currency}}</span>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <span ng-if="$ctrl.ischeckboxenable">选中项目金额汇总：{{$ctrl.totalamountofselecteditems | currency}}</span>
</div>
