<!-- Required inputs -->
<!-- title: title -->
<!-- plans: the-plans -->

<div class="h3">
  {{pplist.title}}
</div>

<ul>
  <li ng-repeat="pp in pplist.plans">
    <input id={{pp.id}} type="checkbox" ng-click="pplist.updateSelection($event, $index)">
    &nbsp;&nbsp;<strong>#</strong>{{pp.id}}
    &nbsp;&nbsp;<strong>线路:&nbsp;</strong>{{pp.po}}
    &nbsp;&nbsp;<strong>价种:&nbsp;</strong>{{pp.po_item}}
    &nbsp;&nbsp;<strong>金额:&nbsp;</strong>{{pp.amount | currency}}
    &nbsp;&nbsp;<strong>日期:&nbsp;</strong>{{pp.datetime}}
    &nbsp;&nbsp;<strong>截止:&nbsp;</strong>{{pp.deadline}}
    &nbsp;&nbsp;<strong>账单:&nbsp;</strong>{{pp.bill_number}}
  </li>
</ul>

<div class="h5">
  选中项目金额汇总：{{pplist.totalamountofselecteditems | currency}}
</div>
