<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">原型验证</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a ui-sref="app.authority">权限管理</a></li>
          <li><a ui-sref="app.purchaseorder">订单管理</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
              单据付款
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a ui-sref="app.paymentplan">消费单据（未出账单）</a></li>
              <li class="divider"></li>
              <li><a ui-sref="app.paymentbill">已付账单</a></li>
              <li><a ui-sref="app.paymentbill">待付账单</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
