<div class="col-xs-12 col-xs-push-2">

  <p style="padding:20px;"></p>

  <div class="h1">
     付款账单
  </div>

  <p style="padding:10px;"></p>

  <p style="padding:10px;"></p>

  <ul>
    <li ng-repeat="pb in paymentBills">
      <input id={{pb.id}} type="checkbox">
      &nbsp;&nbsp;<strong>#</strong>{{pb.id}}
      &nbsp;&nbsp;<strong>收款方:&nbsp;</strong>{{pb.payee}}
      &nbsp;&nbsp;<strong>付款方:&nbsp;</strong>{{pb.payer}}
      &nbsp;&nbsp;<strong>制单人:&nbsp;</strong>{{pb.creator}}
      &nbsp;&nbsp;<strong>金额:&nbsp;</strong>{{pb.amount | currency}}
      &nbsp;&nbsp;<strong>日期:&nbsp;</strong>{{pb.datetime}}
      &nbsp;&nbsp;<strong>截止:&nbsp;</strong>{{pb.deadline}}
      &nbsp;&nbsp;<strong>状态:&nbsp;</strong>{{pb.status}}
    </li>
  </ul>

  <p style="padding:10px;"></p>

</div>
