<div class="col-xs-12 col-xs-push-1">

  <p style="padding:20px;"></p>

  <div class="h1">
    订单详情
  </div>

  <p style="padding:10px;"></p>

  &nbsp;&nbsp;<strong>#</strong>{{purchaseorder.id}}
  &nbsp;&nbsp;<strong>BC:&nbsp;</strong>{{purchaseorder.datetime_order}}
  &nbsp;&nbsp;<strong>DT:&nbsp;</strong>{{purchaseorder.status}}
  <br>
  &nbsp;&nbsp;<strong>Name:&nbsp;</strong>{{purchaseorder.title}}
  &nbsp;&nbsp;<span class="text-primary"><small>【{{purchaseorder.description}}】</small></span>

  <p style="padding:10px;"></p>

  <table class="table table-striped">
    <caption>订单项</caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>订单</th>
        <th>线路</th>
        <th>价种</th>
        <th>价格</th>
        <th>份数</th>
        <th>小计</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in poItems">
        <td>{{item.id}}</td>
        <td>{{item.purchase_orderId}}</td>
        <td>{{item.productline}}</td>
        <td>{{item.price_catalog}}</td>
        <td>{{item.price | currency}}</td>
        <td>{{item.copies}}</td>
        <td>{{item.price * item.copies | currency}}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary">详情</button>
            <button type="button" class="btn btn-sm btn-warning">编辑</button>
            <button type="button" class="btn btn-sm btn-danger" >删除</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  &nbsp;&nbsp;<strong>合计:&nbsp;</strong>{{poItemsTotalCost() | currency}}

  <p style="padding:10px;"></p>

</div>
