<div class="col-xs-12 col-xs-push-2">

  <p style="padding:20px;"></p>

  <div class="h1">
    订单管理
  </div>

  <p style="padding:10px;"></p>

  <ul>
    <li ng-repeat="po in purchaseorders">
      <span class="h6">
        <button ui-sref="app.podetails({id:po.id})">详情</button>
        <button>编辑</button>
        <button>删除</button>
      </span>
      &nbsp;&nbsp;<strong>#</strong>{{po.id}}
      &nbsp;&nbsp;<strong>BC:&nbsp;</strong>{{po.datetime_order}}
      &nbsp;&nbsp;<strong>DT:&nbsp;</strong>{{po.status}}
      &nbsp;&nbsp;<strong>Name:&nbsp;</strong>{{po.title}}
      &nbsp;&nbsp;<span class="text-primary"><small>【{{po.description}}】</small></span>
    </li>
  </ul>
</div>
